<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delkappa.manos.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".EventActivity" />

        <service android:name=".DownloadService" />

        <activity
            android:name=".DirectionActivity"
            android:label="DirectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ITSupportActivity"
            android:label="@string/title_activity_itsupport"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdministrationActivity"
            android:label="@string/title_activity_administration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CommunicationActivity"
            android:label="@string/title_activity_communication"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InformatiqueActivity"
            android:label="@string/title_activity_informatique"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>